# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Resulats
*.result


*/__pycache__/
PTT/DMLG_proj/__pycache__/

Serpent2_para_bateman/src
Serpent2_para_bateman/Linux_aarch64
Serpent2_para_bateman/xs

Version5_wc/.svn/

3_Version5*/Donjon/data/history_mphy_proc/
3_Version5*/Donjon/data/1Sap_vs_3Sap_proc/
3_Version5*/Donjon/tests/data/
3_Version5*/Donjon/tests/data/
3_Version5*/Dragon/Linux_x86_64/
3_Version5*/PyGan/Linux_x86_64/
3_Version5*/Dragon/Linux_aarch64/
3_Version5*/PyGan/Linux_aarch64/
3_Version5*/PyGan/lib/
3_Version5*/Dragon/lib/
3_Version5*/Donjon/lib/
3_Version5*/Dragon/bin/
3_Version5*/Donjon/bin/
3_Version5*/Trivac/lib/
3_Version5*/Trivac/bin/
3_Version5*/Utilib/lib/
3_Version5*/Ganlib/bin/
3_Version5*/Ganlib/lib/
3_Version5*/Utilib/src/libUtilib.a
3_Version5*/Utilib/lib/Linux_x86_64/libUtilib.a
3_Version5*/Trivac/src/libTrivac.a
3_Version5*/Trivac/src/Trivac
3_Version5*/Ganlib/src/libGanlib.a
3_Version5*/Ganlib/src/Ganlib
3_Version5*/Dragon/src/libDragon.a
3_Version5*/Dragon/bin/Linux_x86_64/Dragon
3_Version5*/Dragon/lib/Linux_x86_64/libDragon.a
3_Version5*/Dragon/src/Dragon
3_Version5*/Donjon/bin/Linux_x86_64/Donjon
3_Version5*/Donjon/lib/Linux_x86_64/libDonjon.a
3_Version5*/Donjon/src/Donjon
3_Version5*/PyGan/data/Resultats_serpent4PyGan/
3_Version5*/PyGan/data/multiPhysics_proc/_AT10COMPO_1
3_Version5*/Donjon/data/BWR_DONJON_proc/_AT10Compo
3_Version5*/PyGan/data/BWR_DONJON_proc/_AT10COMPO_1
Version5_beta_ev3198/Donjon/data/pincell_mphy_thm_devoir_proc
3_Version5*/Donjon/data/*_proc
3_Version5*/Dragon/data/*_proc
3_Version5*/PyGan/data/*_proc
3_Version5*/doc/
3_Version5*/Donjon/data/Candu6_CPOs/
3_Version5*/Donjon/data/compo/
3_Version5*/Donjon/data/cpo*
3_Version5*/Dragon/data/
3_Version5*/Donjon/data/d2p_xslib/
3_Version5*/Donjon/data/proc/
3_Version5*/Donjon/data/TC_*


libraries/l_endian/*

